* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* display: flex; */
    font-family: Arial, sans-serif; 
    background-color: #f5f5f5; 
    margin-top: 0;

}

.container {
    background-color: blue;
    max-width: 1200px; 
    margin: 0 auto; /* CENTRALIZA o container */
    /* padding: 0 20px;   */
}
.header {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #ff9933; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding:  0;
}


.header .container {
     padding: 0;   
     display: flex;
     background-color: black;
     justify-content: space-between;
     align-items: center;
     /* padding-left: 350px; */
     height: 100%;
}

.header .container img {
    
    height: 70px;
    width: auto;
    padding-left: 20px;
        /* padding: 0; */
   /* display: flex;
    align-items: center;
    padding-right: 70px; */
    

}
/* .header {
    width: 100%;
    height: 90px;
     background-color: #ff9933;
     
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding:  0;
  
} */
/* .header .container {
     display: flex;
   justify-content: space-between;
    align-items: center;
    height: 100%; */
    /* width: 100%;  */
    /* margin: 0 auto; */
/* } */

.navbar {
    list-style: none;
    display: flex;
    align-items: center; 
     /* justify-content: flex-start;   */
    padding: 0;
    margin: 0;
    gap: 15px;
}

.navbar li img {
     height: 90px;
     /* margin-right: 10px; */
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px; */
    /* display: block; */
}

.navbar li a:hover {
    color: #000000; 
}

.navbar .agora a {
  
    color: #ffffff; 
    font-weight: bold; 
}

/* .banner {
    position: relative; 
    background-image: url('imagens/time.jpg'); 
    
    background-size: cover; 
    background-position: center top; 
    top: 1px;
    left: 0;
    height: 800px; 
    width: 100%;
} */

/* .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; 
    opacity: 0.3; 
} */

/* .box-missao {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 40px;
    text-align: center;
} */

/* .box-missao > div {
    background-color: var(--cor-primaria-laranja);
    color: var(--cor-texto-claro);
    padding: 20px;
    border-radius: 8px;
    flex: 1; Distribui o espaço igualmente
} */

/* Títulos dentro das caixas laranjas */
/* .box-missao h3 {
    font-family: var(--fonte-titulo);
    margin-top: 0;
} */


