@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
*{
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 'Poppins', sans-serif;
    flex-direction: column;
    background-color: #f0f0f0;
    
}
.header{
     display: flex;
    background-color: rgb(255, 136, 0);
    width: 100%;
    height: 100px;
   
    flex-direction: row;
    justify-content: space-between;
}
.container{
     display: flex;
    width: 90%;
    justify-content: flex-end;
    /* justify-content: center; */
    align-items: center;
}

.img { 
display: block; 
    width: 70px; 
    height: auto;
   
}
.container-imagem{
    /* width: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}
.navbar li a{
    font-family: 'Poppins';
      color: white;
      text-decoration: none;

}

.navbar li a:hover {
    color: #212427; 
}

.navbar li{
    list-style: none;
}

.bannerIMG {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin-bottom: 50px;

}
.bannerIMG img{
    display: flex;
    height: 800px;
    width: 100%;
    /* max-width: 400px; */
    /* height: 800px; */
}

.textoPrincipal h4{
 display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
height: auto;
font-family: 'Knewave';
text-align: center;
}

 .textoPrincipal p{
    font-size: 25px;
    padding-left: 20px;
}


.IMGtrio{
  display: flex;
    width: 40%;
justify-content: flex-end;
align-items: flex-start;
/* height: 750px; */
height: auto;
margin: 30px 0 0 0;
order: 2;
}

.IMGtrio img{
    height: auto;
    width: 500px;
}


.principal{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap; /*faz pular a linha*/
    /* background-color: red; */

}

.textoPrincipal{
    width: 50%;
    margin: 0px;
    padding-right: 32px;
    order: 1; /*ele deixa ordenado*/
}




.IMGtrio img {
    height: auto;
    width: 450px; /* Largura da imagem do trio */
    max-width: 100%;
}

.Cards{
    display: flex;
    /* background-color: blue; */
    width: 100%;
    justify-content: space-around;
    gap: 30px;
    padding: 30px 0;
    margin: 50px 0;
    order: 3;
}

.cardMissao, .cardValores, .cardVisao{
    display: flex;
    background-color: #FD881A;
    box-shadow:0 3px 7px #FD881A;
    color: #212427;
    padding: 30px;
    border-radius: 30px;
    width: 30%;
    flex-direction: column;
}

.Cards h3{
     font-family: 'Knewave', cursive;
     text-align: center;
     font-size: 30px;
     margin-bottom: 16px;
     color: whitesmoke;

}
.Cards p{
    font-family: 'Poppins';
    text-align: center;
    /* flex-direction: column; */
    padding-left: 0;
    font-size: 15px;
}

.cardValores ul{
font-size: 15px;
text-align: left;
padding: 0;
margin: 0;

}

.cardValores li{
    font-size: 17px;
    margin-bottom:9px ;
}


.IMGdesenhomini {
    position: fixed;
    height: auto;
    width: 100px;
    z-index: 1000; /*empilha a img*/
    right: 18px;
    bottom:18px ;
}

.IMGdesenhomini img{
    display: block;
    height: auto;
    width: 100%;
}




.calculadora{
display: flex;
width: 100%;
padding: 48px 0;
margin-top: 50px;
align-items: center;
justify-content: center;

}

.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90%;
    max-width: 700px;
    position: relative;
    min-height: 400px;
    background-color: #f0f0f0;
    border: 5px #FD881A;
    border-radius: 30px;
    padding: 42px;
  box-shadow: 10px 10px 100px #ff9933;

}

.texto h2{
    color: #282828;
   
    height: 200px;
    font-family: 'Knewave',cursive;
    font-size: 26px;
    margin-bottom: 22px;
    z-index: 2;
}

.imgCalc{
    width: 100%;
    /* height: 200px; */
    height: auto;
    bottom: 0;
    position: static;
    max-width: 500px;
    margin: 0px 2 2 2;
    /* background-color: aqua; */
}

.imgCalc img{
    display: block;
    height: auto;
    width: 100%;
}



.botao{
display: flex;
height: 20px;
width: 300px;
color: white;
margin-top: 20px;
background-color: #FD881A;
text-decoration: none;
align-items: center;
font-family: 'Poppins';
font-size: 10px;
padding: 14px 49px;
border-radius: 45px;
box-shadow:5px 4px 4px #FD881A;

}

