* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #ff9933;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    justify-content: space-between;
    align-items: center;
}

.container-imagem .img {
    width: 80px;
    margin-left: 20px;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    transition: 0.3s;
}

.navbar li a:hover {
    color: #000000;
}

.navbar .agora a {
    font-weight: bold;
}



.login {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 120px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    padding: 35px;

    width: 420px;
    border-radius: 40px;

   box-shadow: 10px 10px 100px #ff9933;
}

.formulario h2 {
    margin-bottom: 20px;
    color: #ff9933;
    font-size: 32px;
}



.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
}

.campo input {
    width: 90%;
    height: 45px;
    border-radius: 25px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    outline: none;
    box-shadow: 8px 8px 10px #ff9933; /*da efeito de profundidade*/
}


#div_mensagem {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}


.botao {
    margin-top: 10px;
}

.botao button {
    width: 260px;
    height: 42px;
    border-radius: 40px;
    border: none;
    background-color: #ff9933;
    color: #ffffff;
    font-size: 18px;
}

.botao button:hover {
    background-color: #ffae5d;
}
