@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color: rgb(255, 136, 0);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-imagem{
    width: 10%;
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}
.navbar li a{
    font-family: 'Poppins';
      color: white;
      text-decoration: none;

}

.navbar li a:hover {
    color: #000000; 
}

.navbar li{
    list-style: none;
}
.img{
    width: 60%;
}

.banner {
width: 100%;
height: calc(100vh - 100px); 
background-image: url('./imagens/time.png');
background-position: center; /*centraliza a imagem no centro da div*/
background-repeat: no-repeat; /*não deixa a imagem se repetir quando ela "acabar"*/
background-size: cover; /*manda a img cobrir a div toda <3*/

}

.container_textos{
    background-image: url(./imagens/trio.png);
    background-position: right;
    background-repeat: no-repeat; /*não deixa a imagem se repetir quando ela "acabar"*/
}

.img_trio{
  position: relative;
  display: flex;
  max-width: 100%;
  height: 750px;
  border-radius: 100px;
  width: 20%;
}

h4{
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
height: 10vh;
font-family: 'Knewave';
text-align: center;

}

p{
    font-size: 25px;
    padding-left: 20px;
}

